Adam Jackson <ajax@redhat.com> <ajax@freedesktop.org>
Adam Jackson <ajax@redhat.com> <ajax@benzedrine.nwnk.net>
Adam Jackson <ajax@redhat.com> <ajax@benzedrine.nwnk.net>

Alan Coopersmith <alan.coopersmith@oracle.com> <alan.coopersmith@sun.com>

Alan Hourihane <alanh@vmware.com> <alanh@tungstengraphics.com>

Alex Deucher <alexdeucher@gmail.com> <alex@botch2.com>

Ben Skeggs <bskeggs@redhat.com>
Ben Skeggs <bskeggs@redhat.com> <darktama@beleth.(none)>
Ben Skeggs <bskeggs@redhat.com> <skeggsb@gmail.com>
Ben Skeggs <bskeggs@redhat.com> <skeggsb@localhost.localdomain>

Bram Stolk <b.stolk@gmail.com> <bram.stolk@canonical.com>

Brian Paul <brianp@vmware.com> <brian.paul@tungstengraphics.com>
Brian Paul <brianp@vmware.com> <brian@yutani.localnet.net>
Brian Paul <brianp@vmware.com> <brian@nostromo.localnet.net>
Brian Paul <brianp@vmware.com> <brian@i915.localnet.net>
Brian Paul <brianp@vmware.com> <brian@ps3.localnet.net>
Brian Paul <brianp@vmware.com> <brianp@vmware.com>
Brian Paul <brianp@vmware.com> <brian@fc16-x86.home.shipmail.org>
Brian Paul <brianp@vmware.com> <root@i915.localnet.net>

Chia-I Wu <olvaffe@gmail.com> <olv@lunarg.com>

Christian Gmeiner <christian.gmeiner@gmail.com> <Christian.GMEINER@bachmann.info>

Corbin Simpson <MostAwesomeDude@gmail.com> <mostawesomedude@gmail.com>

Dave Airlie <airlied@redhat.com> <airlied@gmail.com>
Dave Airlie <airlied@redhat.com> <airlied@itt42.(none)>
Dave Airlie <airlied@redhat.com> <airlied@linux.ie>
Dave Airlie <airlied@redhat.com> <airliedfreedesktop.org>

Emma Anholt <emma@anholt.net> <anholt@FreeBSD.org>
Emma Anholt <emma@anholt.net> <eric@anholt.net>

Eric Engestrom <eric@igalia.com> <eric.engestrom@imgtec.com>
Eric Engestrom <eric@igalia.com> <eric.engestrom@intel.com>

Erik Faye-Lund <kusmabite@gmail.com> <erik.faye-lund@collabora.com>

George Sapountzis <gsapountzis@gmail.com> <gsap7@yahoo.gr>

Hui Qi Tay <hqt@vmware.com> <tayhuiqithq@gmail.com>

Ian Romanick <ian.d.romanick@intel.com> <idr@freedesktop.org>
Ian Romanick <ian.d.romanick@intel.com> <idr@us.ibm.com>

Jakob Bornecrantz <wallbraker@gmail.com> <jakob@tungstengraphics.com>
Jakob Bornecrantz <wallbraker@gmail.com> <jakob@vmware.com>

Jeremy Huddleston <jeremyhu@apple.com> <jeremy@tifa.local>
Jeremy Huddleston <jeremyhu@apple.com> <jeremy@vincent.local>
Jeremy Huddleston <jeremyhu@apple.com> <jeremyhu@freedesktop.org>

Jeremy Kolb <jkolb@freedesktop.org> <jkolb@brandeis.edu>

Jerome Glisse <jglisse@redhat.com> <glisse@freedesktop.org>

Jesse Barnes <jesse.barnes@intel.com> <jbarnes@hobbes.(none)>
Jesse Barnes <jesse.barnes@intel.com> <jbarnes@jbarnes-desktop.localdomain>
Jesse Barnes <jesse.barnes@intel.com> <jbarnes@virtuousgeek.org>

Jochen Gerlach <jtg@users.sourceforge.net> <jtg>

Jon Turney <jon.turney@dronecode.org.uk> <jon.turney@dronecode.org.uk>

José Fonseca <jfonseca@vmware.com> <j_r_fonseca@yahoo.co.uk>
José Fonseca <jfonseca@vmware.com> <jfonseca@hera>
José Fonseca <jfonseca@vmware.com> <jfonseca@vmware.com>
José Fonseca <jfonseca@vmware.com> <jose.r.fonseca@gmail.com>
José Fonseca <jfonseca@vmware.com> <jrfonseca@tungstengraphics.com>
José Fonseca <jfonseca@vmware.com> <jfonseca@titan.(none)>
José Fonseca <jfonseca@vmware.com> <jose.r.fonseca@gmail.com>

Jouk Jansen <joukj@hrem.stm.tudelft.nl> <joukj@tarantella.(none)>
Jouk Jansen <joukj@hrem.stm.tudelft.nl> <joukj@tarantella.nano.tudelft.nl>

Karl Schultz <karl.w.schultz@gmail.com> <Karl.W.Schultz@gmail.com>
Karl Schultz <karl.w.schultz@gmail.com> <k.w.schultz@comcast.net>
Karl Schultz <karl.w.schultz@gmail.com> <kschultz@freedesktop.org>
Karl Schultz <karl.w.schultz@gmail.com> unknown <kwschult@.na.qualcomm.com>

Keith Packard <keithp@keithp.com> <keithp@neko.keithp.com>

Keith Whitwell <keithw@vmware.com> <keith@tungstengraphics.com>

Kristian Høgsberg <krh@bitplanet.net> <krh@hinata.boston.redhat.com>
Kristian Høgsberg <krh@bitplanet.net> <krh@redhat.com>
Kristian Høgsberg <krh@bitplanet.net> <krh@sasori.boston.redhat.com>
Kristian Høgsberg <krh@bitplanet.net> <krh@temari.boston.redhat.com>

Luc Ma <luc@sietium.com> <onion0709@gmail.com>

Marek Olšák <maraeo@gmail.com> <marek.olsak@amd.com>

Michal Krol <michal@vmware.com> <michal@tungstengraphics.com>
Michal Krol <michal@vmware.com> <mjkrol@gmail.org>
Michal Krol <michal@vmware.com> <michal@transistor.(none)>
Michal Krol <michal@vmware.com> <michal@michal-laptop.(none)>

Michel Dänzer <michel@daenzer.net> <daenzer@vmware.com>
Michel Dänzer <michel@daenzer.net> <michel.daenzer@amd.com>
Michel Dänzer <michel@daenzer.net> <michel@tungstengraphics.com>

Nian Wu <nian.wu@intel.com> <nian@graphics.(none)>
Nian Wu <nian.wu@intel.com> <nian@tinderbox.sh.intel.com>

Nicolai Hähnle <nicolai.haehnle@amd.com> <nhaehnle@gmail.com>
Nicolai Hähnle <nicolai.haehnle@amd.com> <nhaehnle@gmail.com>

Patrice Mandin <patmandin@gmail.com> <patrice@manoir.racoon.city>
Patrice Mandin <patmandin@gmail.com> <pmandin@caramail.com>

Renato Caldas <seventhguardian@gmail.com>

Roland Scheidegger <sroland@vmware.com> <rscheidegger@gmx.ch>
Roland Scheidegger <sroland@vmware.com> <sroland@tungstengraphics.com>

Sean D'Epagnier <sean@depagnier.com> <geckosenator@freedesktop.org>

Sven M. Hallberg <pesco@users.sourceforge.net> <pesco>

Keith Harrison <sio2@users.sourceforge.net> <sio2>

Thierry Vignaud <thierry.vignaud@gmail.com> <tvignaud@mandriva.com>

Thomas Hellstrom <thellstrom@vmware.com> <thellstrom-at-vmware-dot-com>
Thomas Hellstrom <thellstrom@vmware.com> <thomas-at-tungstengraphics-dot-com>

Thomas Tanner <tanner@gmx.net> <tanner>

Vincent Lejeune <vljn@ovi.com>

Yaakov Selkowitz <yselkowi@redhat.com> <yselkowitz@users.sourceforge.net>

Zack Rusin <zackr@vmware.com> <zack@kde.org>
Zack Rusin <zackr@vmware.com> <zack@tungstengraphics.com>

Zhang <zxpmyth@yahoo.com.cn> <zxpmyth@yahoo.com.cn>
